* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scrollbar-color: #8e8e8e;
    scrollbar-width: thin;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    position: relative;
    
}   



nav {
   
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    
}


.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nav-container .logo {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: #2d2e32;

}


nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    float:right;
    margin-right: 3rem;
}


nav ul a {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
    font-size: 1.2rem;
      
}


nav ul a:hover {
    background: -webkit-linear-gradient(#fc46a4, #3f5efb);
    background: linear-gradient(#fc46a4, #3f5efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
 }
 


nav svg {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    display: none;
}


nav .mobile-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #2d2e32;
    transform: translateY(-300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;

}


nav .mobile-menu a {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}


.mobile-menu a:hover {
    background-color:#ddd8d8;
}


/* ------ Section Main Content ------ */


section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}


section .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;
    padding-top: .5rem;
    padding-bottom: 2rem;
    padding-right: 3rem;
   
}


.content .main-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin: 8% 4% 0 18%;
     
}


.main-content h1 {
    font-size: 3rem;
    color: #2d2e32;
}


.main-content p {
    font-size: 1.4rem;
}


.image {
    width:50%;
    display: flex;
     
}


.image img {
    width: 320px;
    border: 1px solid #2d2e32;
    border-radius: 50%;
    margin-top: 12%;  
    
}


.smiley-face {
    padding: .4rem;
    background:linear-gradient(#fff, #fff) padding-box, linear-gradient(#fc46a4, #3f5efb) border-box;
    border-width: 2.5px;
    border-style: solid;
    border-color: transparent;
    animation: smiley 4s ease-in-out  infinite;

}


@keyframes smiley {

    0% {
    
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    
    }
    
    50% {
    
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;

    }
    
    100% {
    
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    
    }
    
    }


    section .skills-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        flex-wrap: wrap;
    
    }


    .skills-container ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
           
    }


    .skills-container h3 {
        color: #2d2e32;
        margin-top: 1.5rem;
    }

    .logos {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        align-items: center;
    }



    .logos li {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        padding-right: 3rem;
        flex-wrap: wrap;
    
    }


    /* ------ Project Container ------ */

    .project-container {
        width: 100%;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 0;
        padding-top: 2.5rem;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .09);
        
    }


   .project-container h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #2d2e32;
    
    
   }


   .project-container p {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 1.1rem;
    
   }


   .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 2.6rem;
    padding-top: 6rem;
    padding-bottom: 3.6rem;
   
 }


 .pro-image h4 {
 
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.6rem;
    color:#2d2e32;
    
  }



  #secondCounter {
    background: -webkit-linear-gradient(#fc46a4, #3f5efb);
    background: linear-gradient(#fc46a4, #3f5efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
  }


  .code-demo {
    display: flex;
    flex-direction: row;
    
  }


  .code-demo a {
    text-decoration: none;
    color: #2d2e32;
  }


  .code-demo a:hover {
    background: -webkit-linear-gradient(#fc46a4, #3f5efb);
    background: linear-gradient(#fc46a4, #3f5efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
  }



 
/* ------ Footer Section ------ */

  footer {
    width: 100%;
    max-height: fit-content;
    padding-block: 1rem;
    display: flex;
  }


  footer p {
    margin: 0 auto;
    color: #2d2e32;
  }


  .heart {
    background: -webkit-linear-gradient(#fc46a4, #3f5efb);
    background: linear-gradient(#fc46a4, #3f5efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
  }


  /* ------- Contact Page -------- */


  .contact {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 4.8rem;
    padding-top: 5rem;
    padding-left: 15rem;
    
  }

  .contact h2 {
    color:#2d2e32;
    font-size: 2rem;
  }

  .contact-icons a {
   color: #2d2e32;
   font-size: 1.5rem;
   padding-right: 1rem;

  }

  .contact-icons a:hover {
    background: -webkit-linear-gradient(#fc46a4, #3f5efb);
    background: linear-gradient(#fc46a4, #3f5efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;

  }

  .mobile-homeIcon {
    display: none;
  }

  .logo-contact{
    color:#2d2e32;
    margin-left: 1rem;
    
  }

 


  

/* ------ Media Queries Section ------- */

@media only screen and (max-width: 768px) {
    
    .nav-container .links {
        display: none;
    }

   
    nav svg {
        display: block;
        margin-top: 1rem;
       
        
    }


    .nav-container .logo {
        position: absolute;
        margin: 0;
        left: 5px;

    }



    section .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;  
        
    }

    .content .main-content {
        
        width: 100%;
        margin-left: 6rem;
        margin-right: 5rem;

    }

    .image img {

        width: 100%;
        justify-content: center;
    
    }

    .skills-container {
        margin-left: 5rem;
       }

       .contact {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-top: 4.8rem;
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        
      }

   /* ----- Contact Page ----- */

      .links-contact ul li {
        display: none;
    }

    .mobile-homeIcon {
        display: block;
        color: #2d2e32;
        
    }

    .mobile-homeIcon:hover {

        background: -webkit-linear-gradient(#fc46a4, #3f5efb);
        background: linear-gradient(#fc46a4, #3f5efb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 1s;
    }

   

}

@media only screen and (max-width: 480px) {
   .skills-container {
    margin-left: 5rem;
   }

   nav {
    max-height: 4.4rem;
   }

   nav svg {

    margin-right: 2rem;
    margin-top: .4rem;

   }

   .content {
    margin-left: 2rem;
    
   }

   .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
    margin-left: -4rem;
    padding-left: 1rem;
    
}

.logos li {
    padding-right: 1.5rem;
}

   #home-icon {
    margin-bottom: .5rem;
   }
}














